html,
body,
.page{
  display: block;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

html,
body,
.page,
h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 42px;
  font-weight: bold;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

header{
  border-bottom: 1px solid #ccc;
  position: fixed;
  background: #fff;
  z-index: 2;
  width: 100%;
}

header a.home{
  display: inline-block;
  position: relative;
  top: 23px;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #222328;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
}



/* Change the color of links on hover */
.topnav a.isActive,
.topnav a:hover {
  border-bottom: 2px solid #D8051D;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  border-bottom: 0 none !important;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .topnav a {
    padding: 30px 10px;
  }
}
@media screen and (max-width: 639px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    padding-bottom: 21px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 639px) {
  .topnav.responsive {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #fff;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #myTopnav.responsive {
    top: 51px;
    left: .9375rem;
    z-index: 23;
    width: 100vw;
    border-top: 1px solid #ccc;
  }
  #myTopnav.responsive a {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 .9375rem;
    font-weight: bold;
  }
  #myTopnav.responsive a:hover,
  #myTopnav.responsive a.isActive {
    color: #D8051D;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  #myTopnav2.responsive{
    position: absolute;
    right: 15px;
    top: 0;
    width: 70px;
  }
}

.body-container {
  padding-top: 90px;
}

@media screen and (min-width: 992px) {
  .body-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .body-container {
    margin-left: 20%;
    margin-right: 20%;
  }
}
.body-container #background-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #ffffff;
}

.body-container #background-container video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  min-width: 100%;
  min-height: 100%;
}

.grid-container{
  position: relative;
}

footer {
  background: #222328;
  position: relative;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 84px;
}
footer a {
  float: left;
  display: inline-block;
  color: #8C8F94;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
footer a.home {
  background: no-repeat url('../assets/logo/maverick_logo_grey.svg') 0 50%;
  width: 160px;
  text-indent: -999em;
}
footer .right {
  text-align: right;
}
footer .right a{
  float: none;
}
footer a.twitter {
  background: no-repeat url('../assets/social/Twitter.svg') 0 50%;
  width: 20px;
  text-indent: -999em;
}
footer a.indeed {
  background: no-repeat url('../assets/social/Indeed.svg') 0 50%;
  width: 20px;
  text-indent: -999em;
}

@media screen and (max-width: 970px) {
   footer a.blog  {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  footer a.home  {
    display: none;
  }
  footer a {
    padding: 30px 10px;
    font-size: 12px;
  }
}

/*
  HOME
*/
#home {
  height: 100%;
  overflow-y: hidden;
}
body.home {
  background-color: black;
}
#home header {
  position: inherit;
}
#home header img {
  position: absolute;
  z-index: 2;
  width: 150px;
  top: 30px;
  left: 50px;
}
body.home footer {
  position: fixed;
}

#home .body-container,
#home .body-container #background-container,
#home .body-container #background-container .video-background{
  display: block;
  height: 100%;
  overflow-y: hidden;
  background-color: black;
}

#home .body-container #background-container .video-background video{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
  min-width: 100%;
  min-height: 100%;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
#home .body-container #menu {
  position: absolute;
  z-index: 9;
  height: auto;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#home .body-container #menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#home .body-container #menu ul li{

}
#home .body-container #menu ul li a{
  text-decoration: none;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  color: #ffffff;
  text-transform: uppercase;
  font-size: calc(3em + 1vw);
  font-weight: 700;
}
#home .body-container #menu ul li a:hover{
  color: #f00;
}

@media screen and (max-width: 667px) {
  #home header img {
    width: 120px;
    top: 10px;
    left: 10px;
  }
  #home .body-container #menu ul li a{
    font-size: 2.5em;
  }
}


/*
  About
*/
#about .callout {
  background: #D62E41;
  color: #fff;
  padding: 40px 60px;
  font-family: "Droid Serif";
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 19px;
}
#about .callout p{
  font-size: 18px;
}
#about .callout i{
  font-size: 14px;
  font-weight: normal;
}
#about .callout .line{
  background: #fff;
  display: block;
  width: 5px;
  height: 90px;
  margin-right: 25px;
  float: left;
}
#about .about{
  padding: 0 0 70px 0;
}

#about .mission-statement {
  background: rgba(250, 250, 250, 0.6);
  padding: 70px 0;
}

#about .mission-statement p {
  font-size: 18px;
}

#about .mission{
  background: rgba(250, 250, 250, 0.6);
  padding: 70px 0;
}
#about .mission figure{
  position: relative;
}
#about .mission img{
  width: 100%;
}
#about .mission #tooltip-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#about .mission #tooltip-container span{
  position: absolute;
  top: 0;
  left: 0;
  width: 22%;
  height: 22%;
  text-indent: -999em;
  border: 0 none;
  cursor: pointer;
}
#about .mission #tooltip-container span.position-1{
  top: 0%;
  left: 51%;
}
#about .mission #tooltip-container span.position-2{
  top: 15%;
  left: 71%;
}
#about .mission #tooltip-container span.position-3{
  top: 39%;
  left: 78%;
}
#about .mission #tooltip-container span.position-4{
  top: 63%;
  left: 71%;
}
#about .mission #tooltip-container span.position-5{
  top: 78%;
  left: 51%;
}
#about .mission #tooltip-container span.position-6{
  top: 78%;
  left: 26%;
}
#about .mission #tooltip-container span.position-7{
  top: 63%;
  left: 7%;
}
#about .mission #tooltip-container span.position-8{
  top: 39%;
  left: 0%;
}
#about .mission #tooltip-container span.position-9{
  top: 15%;
  left: 8%;
}
#about .mission #tooltip-container span.position-10{
  top: 0%;
  left: 27%;
}

#about .accordion-main-title {
  color: #000;
  font-size: 26px;
  font-weight: bold;
}

#about .accordion li a {
  background: #D62E41;
  color: #fff;
}

#about .subscribe{
  background: #fff;
  padding: 70px 0;
  text-align: center;
}


/*
  blog
*/
#blog .grid-container{
  padding-bottom: 30px;
}
#blog .sidebar{
  padding-left: 3rem;
}
#blog article{
  background-image: url('../assets/img/bg-blog.png');
  padding: 30px;
  color: #fff;
  margin-bottom: 30px;
  max-width: 760px;
}
#blog article h2 a{
  font-size: 32px;
  color: #fff;
}
#blog article .date{
  display: block;
  color: #B3B3B3;
  font-size: 12px;
}
#blog article .author,
#blog article .comments{
  display: none;
}
#blog article p{
  font-size: 14px;
  line-height: 26px;
  padding: 25px 0;
}
#blog article p a{
  display: table;
  border: 1px solid #fff;
  padding: 10px 25px;
  margin: 25px 0 0 0;
  color: #fff;
}
#blog .pagination{

}
#blog .pagination span{
  display: inline-block;
  padding: 0.1875rem 0.625rem;
  background: #1779ba;
  color: #fefefe;
  cursor: default;
}
#blog .pagination a{
  display: inline-block;
  margin-right: 0.0625rem;
  border-radius: 0;
  font-size: 0.875rem;
  padding: 0.1875rem 0.625rem;
  border-radius: 0;
  color: #0a0a0a;
}
#blog .widget_recent_entries,
#blog .widget_categories,
#blog .widget_tag_cloud {
  background: #fff;
  margin: 40px 0 0;
}
#blog .widget_recent_entries h3,
#blog .widget_categories h3,
#blog .widget_tag_cloud h3{
  background: #FAFAFA;
  border: 1px solid #E9E9E9;
  font-size: 14px;
  color: #666;
  padding: 15px 20px;
  text-transform: uppercase;
}
#blog .widget_recent_entries ul,
#blog .widget_categories ul{
  list-style: none;
  margin: 0;
}
#blog .widget_recent_entries li,
#blog .widget_categories li{
  border-bottom: 1px solid #E9E9E9;
  font-size: 14px;
  color: #000;
  padding: 15px 20px;
}
@media screen and (max-width: 639px) {
  #blog .sidebar{
    padding: 30px 0 0;
  }
}

/*
  Work
*/
#work .body-container hr {
  padding: 20px 0 0 0;
  margin: 0 0 40px 0;
}
#work .body-container section div {
  text-align: center;
  height: 200px;
}
#work .body-container section div img{
  position: relative;
  top: 50px;
  transform: translate(0, -50%);
}

/*
  Key Peple
*/
#people .body-container h3{
  color: #D8051D;
  font-size: 14px;
  font-weight: bold;
}
#people .body-container h4{
  color: #747474;
  font-size: 12px;
  font-weight: bold;
}
#people .body-container .cell{
  padding: 0 40px;
  max-width: 640px;
}
#people .callout {
  margin-top: 20px;
}
#people .callout p{
  font-weight: bold;
}
#people .callout .line{
  background: #D8051D;
  display: block;
  width: 5px;
  height: 60px;
  margin-right: 25px;
  float: left;
}

/*
  Serices
*/
#services .business {
  padding: 100px 0 50px 0;
  background-color: rgba(255, 255, 255, 0.6);
}
#services .technology {
  background-color: rgba(250, 250, 250, 0.6);
  padding: 50px 0;
}
#services .marketing {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 50px 0;
}
#services .accordion {
  border-color: #000;
  border-style: solid;
  border-width: 1px;
}

#services .accordion li a {
  background: #D62E41;
  color: #fff;
}

/*
  Contact Us
*/
#contact .contact_info {
  height: 19px;
  width: 320px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 29px;
}

#contact .contact_info a {
  color: #D8051D;
}



/*
  Foundation overwrites
*/
.grid-container{
  max-width: 1475px;
}
.tooltip {
  background: #fff;
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tooltip.left::before {
  border-color: transparent transparent transparent #fff !important;
}
.tooltip.bottom::before {
  border-color: transparent transparent #fff !important;
}
.tooltip.top::before {
  border-color: #fff transparent transparent !important;
}
.tooltip.right::before {
  border-color: transparent #fff transparent transparent !important;
}

.accordion li a {
  background: #8C8F94;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.accordion li a::before {
  display: none;
}
